body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #007bff;
}

th {
    background-color: #007bff;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.navbar {
    background-color: #343a40;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    color: #ffffff;
    font-size: 1.5em;
}

.navbar-toggle {
    cursor: pointer;
    display: none;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px 0;
}

.navbar-menu {
    list-style: none;
    display: flex;
}

.nav-item {
    margin: 0 15px;
}

.nav-item a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
}

@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #343a40;
        text-align: center;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-toggle {
        display: block;
    }

    .nav-item {
        margin: 15px 0;
    }

    .container {
        text-align: left;
    }
}

.action-buttons {
    display: flex;
    justify-content: space-between;
}

.edit-btn,
.delete-btn {
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}

.edit-btn {
    background-color: #28a745;
    color: #ffffff;
    border: none;
}

.delete-btn {
    background-color: #dc3545;
    color: #ffffff;
    border: none;
}

.modal-content {
    max-width: 600px;
    margin: auto;
}

.container {
    text-align: center;
}